@import "../../global.scss";

.works{
     background-color: crimson;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;

     h3{
          position: absolute;
          top: 0px;
          padding: 10px 50px;
          border-bottom-left-radius: 200px;
          border-bottom-right-radius: 200px;
          text-align: center;
          font-size: 50px;
          color: $mainColor;
          background-color: white;

          @include mobile{
               display: none;
          }
          
     }

     .arrow{
          height: 50px;
          position: absolute;
          z-index: 1;

          @include mobile{
               display: none;
          }

          &.left{
               left:100px;
               cursor: pointer;
          }

          &.right{
               right: 100px;
               cursor: pointer;
          }
     }

     .slider{
          height: 350px;
          display: flex;
          position: absolute;
          left: 0;
          transition: all 1s ease-in-out;

          @include mobile{
               top:0;
               height: 100%;
               flex-direction: column;
               justify-content: center;
          }

          .container{
               width: 100vw;
               height: 100%;
               display: flex;
               align-items: center;
               justify-content: center;

               @include mobile{
                    top:0;
                    height: 100vh;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
               }

               .item{
                    width: 700px;
                    height: 100%;
                    background-color: white;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include mobile{
                         width: 90%;
                         height: 100vh;
                         margin: 20px 0;
                         
                         justify-content: center;
                    }

                    .left{
                         flex: 4;
                         height: 80%;
                         
                         display: flex;
                         align-items: center;
                         justify-content: center;


                         .leftContainer{
                              width: 90%;
                              height: 70%;
                              display: flex;
                              flex-direction: column;
                              justify-content: space-between;

                              @include mobile{
                                   flex-direction: row;
                                   align-items: center;
                                   justify-content: center;
                              }

                              .imgContainer{
                                   flex:1;
                                  width: 40px;
                                  height: 40px;
                                  border-radius: 50%; 
                                  background-color: coral;
                                  display: flex;
                                  align-items: center;
                                  justify-content: center;
                                   @include mobile{
                                        width: 80px;
                                        height: 60px;
                                        margin-right: 10px;
                                   }

                                  img{
                                       width: 25px;
                                  }
                              }

                              h2{
                                   flex: 3;
                                   font-size: 18px;
                              }
                              p{
                                   flex: 4;
                                   font-size: 10px;
                              }
                              span{
                                   font-size: 12px;
                                   font-weight: 600;
                                   text-decoration: underline;
                                   cursor: pointer ;
                              }
                         }
                    }
                    .right{
                         height: 100%;
                         flex: 8;
                         overflow: hidden;

                         @include mobile{
                              display: none;
                         }
                         
                         img{
                              width: 500px;
                              transform: rotate(-10deg);
                              height: 900px;
                              overflow: hidden;
                         }
                    }
               }
          }
     }
}