.app{
     height: 100vh;
}

.app .sections{
     width: 100%;
     height: calc(100vh -  70px);
     background-color: light salmon;
     position: relative;
     top: 70px;
     scroll-behavior:smooth;
     scroll-snap-type: y mandatory;
     scrollbar-width: none; 
     &::-webkit-scrollbar{
          display: none
     };
}

.app .sections > *{
     width: 100vw;
     height: calc(100vh -  70px);
     border: 1 solid red;
     scroll-snap-align: start;
}